#title{
  font-size: 50px;
  text-align: center;
}
.inputBoxes{
  text-align: center;
}
#urlFromUser{
  margin-right: 20px;
}
#aliasFromUser{
  margin-right: 20px;
}
#tableHeader{
  font-size: 40px;
}
#body{
  margin-left: 30px;
  margin-right:30px;
}
.urlTable{
  justify-content: center;
  width: 100%;
  background-color: rgb(0, 145, 255);
}

.urlTable th{

  border: 1px solid;
  color: white;
}
#url-table{
  width: 55%;
}
#url-display{
  color: black;
}
#alias-display{
  text-align: center;
  color: black;
}
#link-display{
  text-align: right;
  color :black;
}